<!doctype html>
{% extends 'store/womenNavbar.html' %}
{% load static %}



{% block content_product %}

<div class="">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
</div>
<div class="row row1" style="margin-left:20px;">
  <div class="div1 col-lg-4">
    <div id="carouselExampleIndicators" class="carousel" data-bs-ride="carousel" data-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" data-ride="false"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{object.Primaryimage.url}}" class="dress d-block w-100" alt="Dress1a alternative">
        </div>
        {% if object.Secondimage.url is not NULL  %}
        <div class="carousel-item">
          <img src="{{object.Secondimage.url}}" class="dress d-block w-100" alt="Dress1b alternative">
        </div>
        {% endif %}
        {% if object.Thirdimage.url is not NULL  %}
        <div class="carousel-item">
          <img src="{{object.Thirdimage.url}}" class="dress d-block w-100" alt="Dress1c alternative">
        </div>
        {% endif %}
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"> </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="div2 col-lg-5">
    <p class="product_title"> {{object.name}} </p>

    <div class="row">

          <div class="col-5">
                <p class="price_text"> Price: <span class="price">${{object.price}}</span></p>
          </div>

          <div class="col-6">
                <p class="price_text"> Distributor: <span class="price">{{object.distributor}}</span></p>
          </div>
        </div>


    <div class="row">
      <div class="col-3">
        <div class="attribute-item">
          <span> Size
            <span class="separator">:</span>
          </span>
          <span class="bold attribute-value">{{object.size}}</span>
        </div>
      </div>
      <div class="col-5">
        <div class="attribute-item">
          <span> Quantity in Stock
            <span class="separator">:</span>
          </span>
          <span class="bold attribute-value">{{object.quantity}}</span>
        </div>
      </div>

    </div>




    <div class="cart_favorite row">
      {% if object.quantity == 0 %}

      <div class="col-lg-5" style="margin-top: 4px">
        <a href="" class="cart_button btn btn-primary disabled col-12 danger" style="width: 200px;" role="button"> OUT OF STOCK </a>
      </div>
      {% else %}
      <div class="col-lg-5" style="margin-top: 4px">
        <a href="{% url 'store:AddToCart' object.id %}" class="cart_button btn btn-primary col-12" style="width: 200px;" role="button"> ADD TO CART </a>
      </div>

      {% endif %}

      <div class="col-lg-4" style="margin-top: 4px">
        <a href="{% url 'store:AddToWishList' object.id %}" class="cart_button btn btn-primary col-12" style="width: 200px;margin-left: 36px;" role="button">
          <i class="fas fa-heart"></i>Add To Wishlist</a>
      </div>

    </div>

        <div class="col-lg-12" style="margin-top: 4px">
          <a href="{% url 'store:productReviews' object.id %}" class="cart_button btn btn-primary col-12"  style=" margin-bottom: 20px;width: 457px;"  role="button"> View the Reviews </a>
        </div>



    <div class="payment_methods_card card col-lg-11">
      <div class="card-header">
        <i class="fas fa-credit-card"></i>
        Payment Methods
        <img src="{% static "images/mastercard.png" %}" class="payment_mastercard" alt="master">
        <img src="{% static "images/visa.png" %}" class="payment_visa" alt="visa">
        <img src="{% static "images/paypal.png" %}" class="payment_paypal" alt="">

      </div>
    </div>

    <br>
    <div class="row">
      <div class="free_shipping_div card col-lg-5">
        <div class="free_shipping_text card-body">
          <img src="{% static "images/return-box.png" %}" class="free_shipping_img" alt="master">

          Free Shipping
        </div>
      </div>


      <div class="return_div card col-lg-5">
        <div class="return_text card-body">
          <img src="{% static "images/return.png" %}" class="return_img" alt="master">

          Return in 30 days
        </div>
      </div>



    </div>
  </div>





  <h5 class="product_info_text" style="margin-top:20px;">Product Information</h5>

  <div class="row" style="margin-bottom:100px;">
    <div class="col-lg-6">

      <div class="product_info_cards card col-lg-11 mx-auto">
        <div class="card-header">
          <div class="attribute-item">
            <span>Product ID
              <span class="separator">:</span>
            </span>
            <span class="bold attribute-value">{{object.id}}</span>
          </div>
        </div>
      </div>
      <div class="product_info_cards card col-lg-11 mx-auto">
        <div class="card-header">
          <div class="attribute-item">
            <span> Category
              <span class="separator">:</span>
            </span>
            <span class="bold attribute-value">{{object.category}}</span>
          </div>
        </div>
      </div>
      <div class="product_info_cards card col-lg-11 mx-auto">
        <div class="card-header">
          <div class="attribute-item">
            <span> Model
              <span class="separator">:</span>
            </span>
            <span class="bold attribute-value">{{object.model}}</span>
          </div>
        </div>
      </div>
      <div class=" product_info_cards card col-lg-11 mx-auto">
        <div class="card-header">
          <div class="attribute-item">
            <span> Warranty Status
              <span class="separator">:</span>
            </span>
            <span class="bold attribute-value">{{object.warrantyStatus}}</span>
          </div>
        </div>
      </div>

      <div class="product_info_cards card col-lg-11 mx-auto">
        <div class="card-header">
          <div class="attribute-item">
            <span> Description
              <span class="separator">:</span>
            </span>
            <span class="bold attribute-value">{{object.description}}</span>
          </div>
        </div>
      </div>


    </div>

    <div class="col-lg-6">
      <div class=" product_info_cards card col-lg-11 mx-auto">
        <div class="card-header">
          <div class="attribute-item">
            <span> Color
              <span class="separator">:</span>
            </span>
            <span class="bold attribute-value">Black</span>
          </div>
        </div>
      </div>

      <div class="product_info_cards card col-lg-11 mx-auto">
        <div class="card-header">
          <div class="attribute-item">
            <span> Quantity
              <span class="separator">:</span>
            </span>
            <span class="bold attribute-value">{{object.quantity}}</span>
          </div>
        </div>
      </div>

      <div class="product_info_cards card col-lg-11 mx-auto">
        <div class="card-header">
          <div class="attribute-item">
            <span> Distributor
              <span class="separator">:</span>
            </span>
            <span class="bold attribute-value">{{object.distributor}}</span>
          </div>
        </div>
      </div>

      <div class="product_info_cards card col-lg-11 mx-auto">
        <div class="card-header">
          <div class="attribute-item">
            <span> Popularity
              <span class="separator">:</span>
            </span>
            <span class="bold attribute-value">{{object.popularity}}</span>
          </div>
        </div>
      </div>

    </div>



  </div>
</div>




<script type="text/javascript">
  window.onload = () => {
    // (A) GET ALL IMAGES
    let all = document.getElementsByClassName("dress");

    // (B) CLICK TO GO FULLSCREEN
    if (all.length > 0) {
      for (let i of all) {
        i.onclick = () => {
          // (B1) EXIT FULLSCREEN
          if (document.fullscreenElement != null || document.webkitFullscreenElement != null) {
            if (document.exitFullscreen) {
              document.exitFullscreen();
            } else {
              document.webkitCancelFullScreen();
            }
          }

          // (B2) ENTER FULLSCREEN
          else {
            if (i.requestFullscreen) {
              i.requestFullscreen();
            } else {
              i.webkitRequestFullScreen();
            }
          }
        };
      }
    }
  };
</script>

<script type="text/javascript">
  // Rating Initialization
  $(document).ready(function() {
    $('#rateMe1').mdbRate();
  });
</script>




<!-- <div class="product_info_dropdown dropdown">
                <button class="btn btn-secondary dropdown-toggle col-lg-11" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Product Information
                </button>
                <ul class="dropdown-menu">
                  <div class="row product_info_row">
                      <div class="col-lg-6">
                        <div class="attribute-item">
                            <span>Fabric Type
                              <span class="separator">:</span>
                            </span>
                            <span class="bold attribute-value">Woven</span>
                        </div>
                        <div class="attribute-item">
                            <span> Material
                              <span class="separator">:</span>
                            </span>
                            <span class="bold attribute-value">Cotton Mix</span>
                        </div>
                        <div class="attribute-item">
                            <span> Sleeve Type
                              <span class="separator">:</span>
                            </span>
                            <span class="bold attribute-value">Balloon Sleeve</span>
                        </div>
                        <div class="attribute-item">
                            <span> Sleeve Length
                              <span class="separator">:</span>
                            </span>
                            <span class="bold attribute-value">Long</span>
                        </div>

                      </div>
                      <div class="col-lg-6">
                        <div class="attribute-item">
                            <span> Size
                              <span class="separator">:</span>
                            </span>
                            <span class="bold attribute-value">Mini</span>
                        </div>
                        <div class="attribute-item">
                            <span> Color
                              <span class="separator">:</span>
                            </span>
                            <span class="bold attribute-value">Black</span>
                        </div>

                        <div class="attribute-item">
                            <span> Pattern
                              <span class="separator">:</span>
                            </span>
                            <span class="bold attribute-value">Flat</span>
                        </div>

                      </div>
                  </div>
                 </ul>
              </div> -->






<!--

            <div class=" card scroll col-lg-11">
              <div class="row product_info_row">
                    <div class="col-lg-6">
                      <h6>Product Information</h6>
                      <div class="attribute-item">
                          <span>Fabric Type
                            <span class="separator">:</span>
                          </span>
                          <span class="bold attribute-value">Woven</span>
                      </div>
                      <div class="attribute-item">
                          <span> Material
                            <span class="separator">:</span>
                          </span>
                          <span class="bold attribute-value">Cotton Mix</span>
                      </div>
                      <div class="attribute-item">
                          <span> Sleeve Type
                            <span class="separator">:</span>
                          </span>
                          <span class="bold attribute-value">Balloon Sleeve</span>
                      </div>
                      <div class="attribute-item">
                          <span> Sleeve Length
                            <span class="separator">:</span>
                          </span>
                          <span class="bold attribute-value">Long</span>
                      </div>


                    </div>


                    <div class="col-lg-6">
                      <div class="attribute-item">
                          <span> Size
                            <span class="separator">:</span>
                          </span>
                          <span class="bold attribute-value">Mini</span>
                      </div>
                      <div class="attribute-item">
                          <span> Color
                            <span class="separator">:</span>
                          </span>
                          <span class="bold attribute-value">Black</span>
                      </div>

                      <div class="attribute-item">
                          <span> Pattern
                            <span class="separator">:</span>
                          </span>
                          <span class="bold attribute-value">Flat</span>
                      </div>
                    </div>
                </div>
            </div>
       </div>-->








{% endblock  %}
