
.product_text {
  position: relative;
      left: 15px;
      bottom: 1rem;
      color: #ffff;
      font-weight: bold;
      background-color: #cccccc;
      max-width: 89%;

      padding-top: 2px;
      text-align: center;
}



/** main section image ***/
.man-main-section .main-image1 {
  max-width: 100%;
  max-height: 100%;
  padding: 40px 60px 0 60px;
}
.man-main-section .main-image2 {
  max-width: 100%;
  max-height: 100%;
  padding: 0 60px 0 ;
}
.man-main-section .main-image3 {
  max-width: 100%;
  max-height: 100%;
  padding: 0 60px 0;
}
.man-main-section .main-image4 {
  max-width: 100%;
  max-height: 100%;
  padding: 0 60px 0 60px;
}



 /* man-clothing-section */
 .man-clothing-section {
   margin: 0 60px 0;
   padding: 30px 30px 0;
   background-color:#EFEFEF;
   text-align: center;
 }

 .man-clothing-section .man-title1 {
   padding: 25px 1px 10px;
   font-size: 2.5rem;
   color: grey;
   font-weight: bold;
   text-align: center;
 }

 .man-clothing-section .row {
   padding: 2px 2px 2px;
 }

 .man-clothing-section .man-card1 {
   padding: 2px 2px 10px;
   margin-top: 2px;
   text-align: center;
   font-size: 1rem;
   color: grey;
 }

 .man-clothing-section .man-image1 {
   max-width: 100%;
   max-height: 100%;
   padding: 20px 15px 0px 15px;
 }

 /* man-shoes-section */
 .man-shoes-section {
   margin: 0 60px 0;
   padding: 30px 30px 0;
   background-color: #EFEFEF;
   text-align: center;
 }

 .man-shoes-section .man-title1 {
   padding: 25px 1px 10px;
   font-size: 2.5rem;
   color: grey;
   font-weight: bold;
   text-align: center;
 }

 .man-shoes-section .row {
   padding: 2px 2px 2px;
 }

 .man-shoes-section .shoes-card1 {
   padding: 2px 2px 10px;
   margin-top: 2px;
   text-align: center;
   font-size: 1rem;
   color: grey;
 }

 .man-shoes-section .shoes-image1 {
   max-width: 100%;
   max-height: 100%;
   padding: 20px 15px 0px 15px;
 }

 /* man-bags-section */
 .man-bags-section {
   margin: 0 60px 0;
   padding: 30px 30px 0;
   background-color: #EFEFEF;
   text-align: center;
 }

 .man-bags-section .man-title1 {
   padding: 25px 1px 10px;
   font-size: 2.5rem;
   color: grey;
   font-weight: bold;
   text-align: center;
 }

 .man-bags-section .row {
   padding: 2px 2px 2px;
 }

 .man-bags-section .bags-card1 {
   padding: 2px 2px 10px;
   margin-top: 2px;
   text-align: center;
   font-size: 1rem;
   color: grey;
 }

 .man-bags-section .bags-image1 {
   max-width: 100%;
   max-height: 100%;
   padding: 20px 15px 0px 15px;
 }

 /* man-cosmetic-section */
 .man-cosmetic-section {
   margin: 0 60px 0;
   padding: 30px 30px 0;
   background-color: #EFEFEF;
   text-align: center;
 }

 .man-cosmetic-section .man-title1 {
   padding: 25px 1px 10px;
   font-size: 2.5rem;
   color: grey;
   font-weight: bold;
   text-align: center;
 }

 .man-cosmetic-section .row {
   padding: 2px 2px 2px;
 }

 .man-cosmetic-section .cosm-card1 {
   padding: 2px 2px 10px;
   margin-top: 2px;
   text-align: center;
   font-size: 1rem;
   color: grey;
 }

 .man-cosmetic-section .cosm-image1 {
   max-width: 100%;
   max-height: 100%;
   padding: 20px 15px 0px 15px;
 }

 /* Footer Section */


.social-icon {
  margin: 20px 10px;
}
#footer {
  text-align: center;
  padding: 50px 0 20px;
}

@media (max-width: 1028px) {

#footer {
  text-align: center;
}

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
