{% extends 'productmanagers/adminBase.html' %}



{% block content_mainPage%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>All Orders for distributor: {{ distributor.name }} </h3><hr>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Review ID </th>
                        <th>Customer</th>
                        <th>Comment</th>
                        <th>Rate</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in allreviews %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'store:admindetailComment' review.id %}">Review {{review.id}}</a></td>
                        <td>{{review.review_list.customer.user.username}}</td>
                        <td>{{review.comment}}</td>
                        <td>{{review.rate}}</td>
                        <td>{{review.review_status}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
