{% extends 'salesmanagers/adminBase.html' %}

{% block content_mainPage %}

<center>

    {% if request.user.salesmanagersadmin.distributor is None %}
    <h3> ALL INVOICES </h3> <hr>
    {% else %}
    <h3> ALL INVOICES  for  distributor: {{ request.user.salesmanagersadmin.distributor }} </h3> <hr>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        From : <input type="date" name="fromdate"/>
        To : <input type="date" name="todate"/>
        <input type="submit" value="Search"/>
    </form>
    <br><br><br>
</center>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Order Date</th>
            <th>OrderProduct ID</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Customer</th>
            <th>Product ID</th>
            <th>Product Title</th>
            <th>Image</th>

        </tr>
    </thead>
    <tbody>
        {% for r in results %}
        <tr>
            <td>{{r.order.created_at}}</td>
            <td>{{r.id}}</td>
            <td>{{r.quantity}}</td>
            <td>{{r.subtotal}}</td>
            <td>{{r.order.customer}}</td>
            <td>{{ r.product.id }} </td>
            <td>{{ r.product.name }} </td>
            <td><img src= {{r.product.Primaryimage.url}} style="height: 60px;" alt=""></td>
            <td>  <a href="{% url 'store:ShowPDF' r.id %}">TO_PDF</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- <center>
    <ul>
        {% for r in results %}
        <li>
            <p>PRODUCT: {{ r.product }}</p>
            <p>USER: {{ r.order.customer }}</p>
            <p>TOTAL: {{ r.order.subtotal }}</p>
            <p>DATE: {{ r.order.created_at }}</p>
            <a href="{% url 'store:ShowPDF' r.id %}">TO_PDF</a>
            <p>----------------------------------------------------------------------------------------------</p>
        </li>
        {% endfor %}
    </ul>
</center> -->
{% endblock %}
